<div class="page-header">
  <h3>Action Step #<%= @action_step.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd><%= @action_step.description %></dd>

      <dt>Target date</dt>
      <dd><%= @action_step.target_date %></dd>

      <dt>Goal</dt>
      <dd><%= @action_step.goal_id %></dd>

      <dt>Lead</dt>
      <dd><%= @action_step.lead %></dd>

      <dt>Resources</dt>
      <dd><%= @action_step.resources %></dd>

      <dt>Implementation specifics</dt>
      <dd><%= @action_step.implementation_specifics %></dd>

      <dt>Measures of success</dt>
      <dd><%= @action_step.measures_of_success %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/action_steps" class="btn btn-primary">
        Back
      </a>
      <a href="/action_steps/<%= @action_step.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_action_step/<%= @action_step.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Action step has many action_comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Action Comments
      </li>

      <% @action_step.action_comments.each do |action_comment| %>
        <li class="list-group-item">
          <a href="/action_comments/<%= action_comment.id %>">
            <%= action_comment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/action_comments/<%= action_comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/action_comments/<%= action_comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_action_comment/<%= action_comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_action_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :first_name), :class => "form-control") %>
      </div>

      <!-- Label and input for action_step_id -->
      <div class="form-group">
        <label for="action_step_id" class="control-label">
          Action step
        </label>

        <%= select_tag(:action_step_id, options_from_collection_for_select(ActionStep.all, :id, :description), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Action Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
