<div class="page-header">
  <h3>Improvement Plan #<%= @improvement_plan.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>State</dt>
      <dd><%= @improvement_plan.state %></dd>

      <dt>User</dt>
      <dd><%= @improvement_plan.user_id %></dd>

      <dt>Comments</dt>
      <dd><%= @improvement_plan.comments %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/improvement_plans" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @improvement_plan.user %>
        <a href="/improvement_plans/<%= @improvement_plan.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_improvement_plan/<%= @improvement_plan.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Improvement plan has many goals -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Goals
      </li>

      <% @improvement_plan.goals.each do |goal| %>
        <li class="list-group-item">
          <a href="/goals/<%= goal.id %>">
            <%= goal.description %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/goals/<%= goal.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/goals/<%= goal.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_goal/<%= goal.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Improvement plan has many leaderships -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Leaderships
      </li>

      <% @improvement_plan.leaderships.each do |collaboration| %>
        <li class="list-group-item">
          <a href="/collaborations/<%= collaboration.id %>">
            <%= collaboration.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/collaborations/<%= collaboration.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/collaborations/<%= collaboration.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_collaboration/<%= collaboration.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Improvement plan has many coaches -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Coaches
      </li>

      <% @improvement_plan.coaches.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.first_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
