<!-- Validation failure messages -->
<% if @collaboration.errors.any? %>
  <% @collaboration.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Collaboration #<%= @collaboration.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_collaboration/<%= @collaboration.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :first_name, @collaboration.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for improvement_plan_id -->
      <div class="form-group">
        <label for="improvement_plan_id" class="control-label">
          Improvement plan
        </label>

        <input type="text" id="improvement_plan_id" name="improvement_plan_id" placeholder="Improvement plan" class="form-control" value="<%= @collaboration.improvement_plan_id %>">
      </div>

      <button class="btn btn-warning">
        Update Collaboration
      </button>
      or
      <a href="/collaborations/<%= @collaboration.id %>">Cancel</a>
    </form>
  </div>
</div>
