<div class="page-header">
  <h3>Goal #<%= @goal.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @goal.user.present? %>
          <a href="/users/<%= @goal.user_id %>">
            <%= @goal.user.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>Action step</dt>
      <dd><%= @goal.action_step %></dd>

      <dt>Comments</dt>
      <dd><%= @goal.comments %></dd>

      <dt>Improvement plan</dt>
      <dd>
        <% if @goal.improvement_plan.present? %>
          <a href="/improvement_plans/<%= @goal.improvement_plan_id %>">
            <%= @goal.improvement_plan.state %>
          </a>
        <% end %>
      </dd>

      <dt>Description</dt>
      <dd><%= @goal.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/goals" class="btn btn-primary">
        Back
      </a>
      <a href="/goals/<%= @goal.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_goal/<%= @goal.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Goal has many action_steps -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Action Steps
      </li>

      <% @goal.action_steps.each do |action_step| %>
        <li class="list-group-item">
          <a href="/action_steps/<%= action_step.id %>">
            <%= action_step.description %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/action_steps/<%= action_step.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/action_steps/<%= action_step.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_action_step/<%= action_step.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_action_step" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="">
      </div>

      <!-- Label and input for target_date -->
      <div class="form-group">
        <label for="target_date" class="control-label">
          Target date
        </label>

        <input type="text" id="target_date" name="target_date" placeholder="Target date" class="form-control" value="">
      </div>

      <!-- Label and input for goal_id -->
      <input type="hidden" name="goal_id" value="<%= @goal.id %>">

      <!-- Label and input for lead -->
      <div class="form-group">
        <label for="lead" class="control-label">
          Lead
        </label>

        <textarea id="lead" name="lead" placeholder="Lead" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for resources -->
      <div class="form-group">
        <label for="resources" class="control-label">
          Resources
        </label>

        <textarea id="resources" name="resources" placeholder="Resources" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for implementation_specifics -->
      <div class="form-group">
        <label for="implementation_specifics" class="control-label">
          Implementation specifics
        </label>

        <input type="text" id="implementation_specifics" name="implementation_specifics" placeholder="Implementation specifics" class="form-control" value="">
      </div>

      <!-- Label and input for measures_of_success -->
      <div class="form-group">
        <label for="measures_of_success" class="control-label">
          Measures of success
        </label>

        <input type="text" id="measures_of_success" name="measures_of_success" placeholder="Measures of success" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Action Step
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Goal has many goal_comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Goal Comments
      </li>

      <% @goal.goal_comments.each do |goal_comment| %>
        <li class="list-group-item">
          <a href="/goal_comments/<%= goal_comment.id %>">
            <%= goal_comment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/goal_comments/<%= goal_comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/goal_comments/<%= goal_comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_goal_comment/<%= goal_comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_goal_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :first_name), :class => "form-control") %>
      </div>

      <!-- Label and input for goal_id -->
      <input type="hidden" name="goal_id" value="<%= @goal.id %>">

      <button class="btn btn-block btn-success">
        Create Goal Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
